:root {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* ORIG END */
}

a {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
  /* ORIG END */
}
a:hover {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* color: #535bf2; */
  /* ORIG END */
}

body {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  /* ORIG END */
}

h1 {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* font-size: 3.2em;
  line-height: 1.1; */
  /* ORIG END */
}

button {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
  /* ORIG END */
}
button:hover {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* border-color: #646cff; */
  /* ORIG END */
}
button:focus,
button:focus-visible {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ORIG START */
  /* outline: 4px auto -webkit-focus-ring-color; */
  /* ORIG END */
}

@media (prefers-color-scheme: light) {
  :root {
    font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* ORIG START */
    /* color: #213547;
    background-color: #ffffff; */
    /* ORIG END */
  }
  a:hover {
    font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* ORIG START */
    /* color: #747bff; */
    /* ORIG END */
  }
  button {
    font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* ORIG START */
    /* background-color: #f9f9f9; */
    /* ORIG END */
  }
}
